
  .swipe {
    position: fixed;
    top: 90px;
    opacity: 1;
    background-color: rgb(255, 249, 243);
    border-radius: 40px;
    height: 550px;
    width: 90vw;
    max-width: 330px;
    z-index: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  }

  .overlay-div {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 1rem;
    padding-bottom: 3.3rem;;
    font-size: 1.2rem;
    position: relative;
    max-width: 330px;
  }

#movie_player > div.ytp-cued-thumbnail-overlay > button {
    display: none;
}  

.overlay-play {
    position: absolute;
    top: 250px;
    left: 130px;
    z-index: 9999;
    width: 67px; 
    height: 50px; 
}

#video-player {
    border-radius: "40px";
    overflow: hidden;
}

.info-hidden {
    text-align: start;
    transform: translateY(100%);
    animation: reveal 0.3s cubic-bezier(1, 0, 0.3, 0.9) forwards;
}


@keyframes reveal {
    from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
  }
