#root {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(#fff, #999);
    background: linear-gradient(#e66465, #9198e5);
}

#root>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
}

.cardContent {
    width: 100%;
    height: 100%;
}
  #name {
    font-size: 1.5rem;
    font-weight: bold;
    }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    width: 90vw;
    max-width: 330px;
    position: relative;
  }
  
.cardContent {
    width: 100%;
    height: 100%;
}
  
h4{
    margin-left: 1rem
}

li{
    margin-left: 1rem
}
  
.header {
        justify-self: center;
}

    
.footer-div button {
  transition: 200ms;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.footer-div button:hover {
transform: scale(1.05);
}