.footer-div {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
}

.arrow-icon {
    justify-self: center;
    margin-bottom: 0.6rem;
}

.center {
    display: flex;
    flex-direction: column;
}

.footer{
    position:absolute;
    top: 590px;
    left: 55px;
}
