.header-div {
    position: fixed;
    top: 1%;
    display: flex;
    justify-content: space-between;
    width: 338px;
    padding: 0 15px;
    padding-top: 0px;
    z-index: 1000000;
}

.icon {
    width: 90px;
    height: 40px;
    align-self: center;
}

.user-image {
    width: 45px;
    align-self: center;
    margin-top: 1.5rem;
}
