.match-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.match-names {
    font-size: 1.3rem;
    width: 90%;
    margin: 1rem;
}