div.user-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 2.5rem;
}

.user-pic {
    width: 150px;
    align-self: center;
    margin-bottom: 2rem;
}